#happy-timer-bar-box, #angry-timer-bar-box {
    width: 100px;
    height: 10px;
}

#happy-timer-bar, #angry-timer-bar {
    height: 100%;
}

.green {
    background-color: yellowgreen;
}

.yellow {
    background-color: goldenrod;
}

.red {
    background-color: firebrick;
}

#hungry-bar-box, #hangry-bar-box {
    width: 100px;
    height: 10px;
    background-color: saddlebrown;
}

#hungry-bar, #hangry-bar {
    height: 100%;
    background-color: sandybrown;
}
