#stamina-bar-box {
    width: 100px;
    height: 10px;
}

#timer-bar {
    height: 100%;
}

.green {
    background-color: yellowgreen;
}

.yellow {
    background-color: goldenrod;
}

.red {
    background-color: firebrick;
}
